BOT_TOKEN=your_telegram_bot_token
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/your-main-spreadsheet-id/edit?usp=sharing
GOOGLE_JSON_FILE=service-account.json
SURVEY_SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/your-survey-spreadsheet-id/edit?usp=sharing
INDIVIDUAL_SHEET_URL=https://docs.google.com/spreadsheets/d/your-individual-spreadsheet-id/edit?usp=sharing

AUTOFUN_BASE_URL=https://cs.autofun.at
AF_IDS_USERNAME=your_af_ids_username
AF_IDS_PASSWORD=your_af_ids_password
CHROME_BIN=/Users/aleksandrbortko/Downloads/chrome-mac-arm64/Google Chrome for Testing.app/Contents/MacOS/Google Chrome for Testing
CHROMEDRIVER_PATH=/Users/aleksandrbortko/Downloads/chromedriver-mac-arm64/chromedriver
CATALOG_CHROME_PROFILE_DIR=.crm_chrome_profile
CATALOG_DEBUG_DIR=catalog_search_debug
CATALOG_SEARCH_HEADLESS=false
CATALOG_SEARCH_LIMIT=20
